# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# TypeScript
*.tsbuildinfo

# Build files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Mac-specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP volume
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm / yarn
package-lock.json
yarn.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Mac Quick Look
*.qlpreview

# Coverage
coverage/
*.lcov

# Debug tools
*.tgz
.parcel-cache/
.cache/
